@media screen and (max-width: 1500px) {
  .partners-list {
    column-gap: 30px;
  }
  .single-partner {
    height: 58px;
    width: calc((100% / 5) - (120px / 5));
  }
}

@media screen and (max-width: 1200px) {
  .partners-list {
    column-gap: 30px;
  }
  .single-partner {
    height: 50px;
    width: calc((100% / 4) - (90px / 4));
  }
}

@media screen and (max-width: 900px) {
  .partners-list {
    column-gap: 30px;
    row-gap: 20px;
  }
  .single-partner {
    height: 40px;
    width: calc((100% / 4) - (90px / 4));
  }
}

@media screen and (max-width: 900px) {
  .starts-circle {
    .inner-circle {
      background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='600' ry='600' stroke='white' stroke-width='5' stroke-dasharray='2%2c 6' stroke-dashoffset='90' stroke-linecap='butt'/%3e%3c/svg%3e");
    }
  }
  .partners-list {
    column-gap: 20px;
  }
  .single-partner {
    height: 30px;
    width: calc((100% / 4) - (60px / 4));
  }
}

@function vw($px-vw, $base-vw: 375px) {
  @return ($px-vw * 100vw) / $base-vw
}

@media screen and (max-width: 767px) {
  .home-hero__bg {
    padding-top: vw(212px);
  }

  .possibilities-list .btn {
    border-radius: 50px;

    background: linear-gradient(180deg, #88e525 0, #57a407 100%);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .25);

    &::before, &::after {
      content: '';
    }
  }


  .partners {
    margin: vw(40px) 0;
  }
  .starts-circle .inner-circle .text p {
    font-size: vw(10px);
  }
  .demo-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: vw(14px);

    .title-head {
      width: 100%;
      margin-right: 0;

      .title {
        font-size: vw(20px);
      }

      p {
        font-size: vw(14px);
        line-height: 1.3;
      }
    }
  }
  .form {
    form {
      gap: vw(14px);
    }
  }
  .input-wrap {
    width: 100%;

    input, textarea {
      font-size: vw(14px);
      padding: vw(10px) 0;
      line-height: 1.3;

      &::placeholder {
        font-size: vw(14px);
      }
    }

    textarea {
      min-height: vw(80px);
    }
  }
  .form form .btn {
    padding: vw(3px) vw(16px) vw(3px) vw(5px);
    font-size: vw(14px);
    line-height: 1.2;
    width: 100%;
    height: auto;

    .ic {
      width: vw(21px);
      height: vw(21px);
      left: vw(4px);
    }
  }
  .sign-container {
    .title {
      font-size: vw(24px);
      line-height: 1.3;
      margin-bottom: vw(5px);
      text-align: center;
    }

    p {
      font-size: vw(14px);
      line-height: 1.3;
      margin-bottom: vw(10px);
      max-width: 66vw;
    }
  }
  .demoform {
    width: 100%;
    padding: vw(20px) vw(20px);
  }
  .demoblock {
    padding: vw(40px) 0;

    .bg {
      overflow: hidden;

      &::before {
        width: 100%;
      }

      .img {
        height: 60%;
        width: auto;
        top: 15%;
        right: 0;
        transform: translate(0, 0);
        opacity: 0.4;

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  .starts-list {
    gap: vw(10px);
  }
  .home-hero__text {
    h1 {
      max-width: 100%;
    }

    p {
      max-width: 100%;
    }
  }
  .about-tabs__left .tab-btn {
    height: auto;
    padding: vw(20px) vw(10px);
    &::after {
      width: vw(24px);
      height: vw(20px);
      bottom: vw(10px);
      right: vw(10px);
      transform: rotate(90deg);
    }
  }
  .about-tabs__left .tab-btn {
    span {
      font-size: vw(20px);
    }
    p {
      font-size: vw(14px);
    }
  }
  .about-tabs {
    height: auto;
  }
  .about-tabs__left {
    width: 100%;

    > .img {
      width: 100%;
      height: auto;
      padding: vw(20px) vw(10px);
      display: none;
      animation-delay: 0s !important;

      img {
        width: 100%;
        height: auto;
      }
    }

    .tab-btn {
      &.active + .img {
        display: flex;
      }
    }
  }
  .about-tabs__right {
    display: none;
  }
  .about-container .title-head {
    width: 100%;
    max-width: 100%;
  }
  .about-ship {
    display: none;
  }
  .home-hero--bg {
    &::after {
      width: 100%;
      height: 100%;
      display: inline-block;
      content: '';
      background: $main-color;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .advantages-list {
    flex-wrap: wrap;
  }
  .advantages-list {
    border-top: 6px solid  #75c422;
  }
  .possibilities {
    padding-top: vw(30px);
    padding-bottom: vw(30px);

  }
  .single-advantage {
    width: 50%;
    padding: vw(15px) vw(10px);
    .ic {
      margin-bottom: vw(15px);
      width: 58px;
      height: 58px;
      img {
        width: 100%;
        height: auto;
      }

    }
    .txt {
      span {
        font-size: vw(16px);

      }
      p {
        font-size: vw(10px);
      }
    }
    &:nth-child(even) {
      border-right: none;
    }
    &:nth-child(1), &:nth-child(2) {
      border-bottom: 1px solid #43a5ff;

    }
  }
  .single-starts {
    //5px
    width: calc(50% - 1.3333vw);
    padding: vw(10px);

    .txt {
      padding-top: vw(6px);
      margin-top: vw(10px);
      span {
        font-size: vw(16px);
        line-height: 1.2;
      }

      p {
        font-size: vw(14px);
        line-height: 1.3;
      }
    }

    .ic {
      width: vw(58px);
      height: vw(58px);

    }


  }

  .possibilities {
  }
  .steps-utilize-list .line {
    display: none;
  }
  .steps-utilize-list {
    flex-wrap: wrap;
    gap: 0;
  }

  .single-utilize {

    //5px
    width: calc(50% - 1.3333vw);
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    &:nth-child(even) {
      border-right: 2px solid #86e324;
    }
    &:nth-child(2), &:nth-child(3) {
      border-bottom: 2px solid #86e324;
    }
    &::before {
      width: 36px;
      height: 36px;
      font-size: 16px;
      border-width: 2px;
      padding-right: 2px;
      left: 5px;
      top: 5px;
    }
    .ic {
      width: 45px;
      height: 45px;
      margin-bottom: 10px;
    }
    .txt {
      span {
        font-size: 16px;
      }
      p {
        font-size: 10px;
      }
    }
  }

  .header {
    &.active {
      background: #fff;

      .header-menu {
        > .btn {
          opacity: 0;
          pointer-events: none;
        }
      }

      .header-menu .menu {
        transform: translate(0, 0);
      }
    }
  }
  body {
    &.home2 {
      .header {
        .burger {
          span {
            background: #fff;
          }
        }

        .menu {
          background: $main-color;
        }

        &.active, &.header-fixed {
          background: $main-color;
        }
      }
    }
  }
  .header-menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: vw(30px) vw(15px) vw(70px);
    background: #fff;
    //57px
    height: calc(100vh - 14.6667vw);
    transition: all 0.5s ease-in-out;
    transform: translate(-110%, 0);

    > .btn {
      display: flex;
      margin-top: vw(20px);
    }

    ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: vw(12px);
      margin-top: auto;
      margin-bottom: auto;

      li {
        width: 100%;

        a {
          width: 100%;
          display: inline-block;
          text-align: center;
          font-size: vw(16px);
          line-height: 1.2;
        }
      }
    }
  }
  .about {
    padding-top: vw(40px);
    padding-bottom: vw(40px);
  }
  .starts-title {
    flex-direction: column;
    align-items: flex-start;
    gap: vw(15px);
  }
  .starts {
    padding: vw(20px) 0;
  }
  .starts-title {
    margin-bottom: vw(20px);
  }
  .about-cont {
    padding: vw(20px) 0;
  }
  .arrow-block {
    width: 53.42105vw;
    height: 7.10526vw;
  }
  .about-cont__bot {
    bottom: vw(30px);
    right: vw(111px);
  }
  .about-laptop {
    margin-left: vw(-12px);
  }
  .about-achiv img {
    width: vw(20px);
  }

  .about-cont__top .about-achivs .about-achiv {
    &:nth-child(3) {
      right: vw(148px);
    }

    &:nth-child(2) {
      right: vw(90px);
    }

    &:nth-child(1) {
      right: vw(32px);
    }
  }
  .about-cont__bot .about-achivs .about-achiv {
    &:nth-child(3) {
      right: vw(32px);
      left: auto;
    }

    &:nth-child(2) {
      right: vw(90px);
      left: auto;
    }

    &:nth-child(1) {
      right: vw(148px);
      left: auto;
    }
  }
  .about-phone .im {
    width: 22.7vw;
    height: 40vw;
    top: 8.78947vw;
  }
  .about-achiv {
    width: vw(40px);
    height: vw(40px);
  }
  .about-laptop .im {
    width: 42.57895vw;
    height: 24.57895vw;

    top: 4.57895vw;
  }
  .about-cont__top {
    top: vw(30px);
    right: vw(111px);
  }
  .about-phone {
    width: 26.94737vw;
    height: 58.10526vw;

    > img {
      object-fit: contain;
    }
  }
  .about-laptop {

    width: 60.36842vw;
    height: 34.57895vw;

    > img {
      object-fit: contain;
    }
  }

  .title-columns p {
    font-size: vw(14px);
    line-height: 1.2;
  }
  .title-head {
    margin-bottom: vw(16px);
  }
  .sub-title {
    font-size: vw(16px);
    line-height: 1.3;
  }
  .title {
    font-size: vw(20px);
    line-height: 1.2;
  }
  .title-columns {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: vw(12px);

    .title {
      width: 100%;
    }

    .text {
      width: 100%;
    }
  }
  .hero-second {
  }
  .hero-second__bg {
    padding-bottom: 120px;
    padding-top: 57px;

    h1 {
      font-size: vw(26px);
      line-height: 1.2;
      margin-bottom: vw(23px);
    }
  }
  .home-hero__text {
    padding-top: vw(90px);

    h1 {
      font-size: vw(26px);
      line-height: 1.2;
      margin-bottom: vw(3px);
    }

    p {
      font-size: vw(16px);
      line-height: 1.2;
      margin-bottom: vw(12px);
      text-align: left;
    }
  }
  .possibilities-list .btn {
    margin-top: vw(10px);
  }
  .header {
    transition: all 0.3s ease-in-out;

    &::before {
      content: none;
      height: 100%;
      background: #fff;
    }

    &.header-fixed {
      background: #fff;
    }
  }
  .header-menu {
    justify-content: space-between;

    .btn {
      order: 1;
      margin-left: vw(20px);
    }
  }
  .btn {
    gap: vw(12px);

    &.btn--blue {
      padding: vw(3px) vw(16px) vw(3px) vw(5px);
      font-size: vw(14px);
      line-height: 1.2;

      .ic {
        width: vw(21px);
        height: vw(21px);
      }
    }

    &.btn--green {
      padding: vw(3px) vw(16px) vw(3px) vw(5px);
      font-size: vw(14px);
      line-height: 1.2;

      .ic {
        width: vw(21px);
        height: vw(21px);
      }
    }
  }
  .burger {
    width: vw(22px);
    height: vw(15px);
    display: flex;
    position: relative;
    order: 2;

    span {
      background: #fff;
      height: 2px;
      display: inline-block;
      width: 100%;
      position: absolute;
      left: 50%;
      transition: all 0.3s ease-in-out;

      &:nth-child(1) {
        top: 0;
        transform: translate(-50%, 0);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        bottom: 0;
        transform: translate(-50%, 0);
      }
    }

    &.active {
      span {
        top: 50%;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%) rotate(45deg);

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(- 45deg);
        }
      }
    }
  }
  .header {
    &.header-fixed {
      .burger {
        span {
          background: $main-color;
        }
      }
    }
  }
  .about-tabs__left .tab-btn {
    border-bottom: 1px solid #fff;
  }
  .container {
    max-width: 100%;
    padding: 0 vw(15px);
  }
  .header-container {
    padding: vw(11px) 0;
    position: static;
  }
  .header-menu {
    padding-top: 0;
  }
  .header-container .logo {
    width: vw(120px);
  }

}

@media screen and (max-width: 500px) {
  .partners-list {
    column-gap: vw(14px);
    row-gap: vw(20px);
  }
  .single-partner {
    height: vw(26px);
    //28
    width: calc((100% / 3) - (7.4667vw / 3));
  }
}
